<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    
    <h1 class="animated fadeIn mb-1">Consulta Microdados ENEM 2017, 2018 e 2019</h5>

    </br>
    </br>
    <h3 class="animated fadeIn mb-1"> Digite um valor de inscrição ou vários separados por vírgula.</h5>
    <h5 class="animated fadeIn mb-1"> Por exemplo, digite: 190001004627 </h5>
    <h5 class="animated fadeIn mb-1"> Por exemplo, digite: 190001004627,190001004628,190001004629 </h5>
    <form method="POST" action="/">

     <div class="form-group md-form mb-4 blue-textarea active-blue-textarea">
      <textarea id="txt-insc" class="md-textarea form-control" name="insc" rows="5" cols="90"></textarea>
      <input  class="btn btn-primary btn-md" type="submit" value="Pesquisar">
     </div>

    </form>

    {% if invalidos %}

    <h1 class="animated fadIn mb-1">Inválidos</h1>
	{{ invalidos|join(', ') }}

    {% endif %}
    
    </br></br>
    <h5 class="animated fadeIn mb-1">As inscrições encontradas serão exibidas aqui </h3>
    {% if candidatos %}
    <h1 class="animated fadeIn mb-1">Candidatos</h1>
    
    <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Inscrição</th>
      <th scope="col">Edição</th>
      <th scope="col">Ciências da Natureza</th>
      <th scope="col">Ciências Humandas</th>
      <th scope="col">Linguagens e Códigos</th>
      <th scope="col">Matemática</th>
      <th scope="col">Nota Redação</th>
    </tr>
   </thead>
  
   <tbody>
    {% for candidato in candidatos %}
    <tr>
	<th scope="row">{{  loop.index }}</th>

    	<td> {{ candidato.inscricao }} </td>
	<td> {{ candidato.ano }} </td>
	<td> {{ candidato.nota_cn }} </td>
	<td> {{ candidato.nota_ch }} </td>
   	<td> {{ candidato.nota_lc }} </td>
	<td> {{ candidato.nota_mt }} </td>
	<td> {{ candidato.nota_redacao }} </td>
    </tr>
    
    <!-- <p> {{ candidato.tp_lingua }} </p>
    <p> {{ candidato.tp_status_red}} </p> -->
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

{% endblock %}
